<!DOCTYPE html>
<html>
<head>
	<title>Weather - About</title>
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="icon" href="/img/weather.png">
</head>
<body>
	<div class="main-content">
		{{>header}}

		<p>This site was created as part of udemy course on Node.js</p>
		<p>It uses mapbox.com API for geolocalisation, and weatherstack.com API for weather lookup.</p>

		<img class="portrait" src="/img/guishu.png" />
	</div>
	
	{{>footer}}
</body>
</html>